@model IEnumerable<Domain.OrdemDeServico>

@{
    Layout = "~/Views/Shared/Layout1.cshtml";
    List<OrdemDeServico> liberadas = ViewBag.Aprovadas;
    List<OrdemDeServico> reprovadas = ViewBag.Reprovadas;
}

<!DOCTYPE html>

<html>

<body>
    <p>
        <a asp-action="Create" class="btn btn-success">Cadastrar</a>
    </p>
    </br>
    </br>
    <h4>OS para aprovação:</h4>
    <table style="margin-top:10px;margin-bottom:10px" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Numero OS
                </th>
                <th>
                    Solicitante
                </th>
                <th>
                    Processador
                </th>
                <th>
                    Memoria
                </th>
                <th>
                    Placa mãe
                </th>
                <th>
                    Placa de video
                </th>
                <th>
                    HD
                </th>
                <th>
                    SSD
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrdemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Processador.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Memoria.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlacaMae.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlacaVideo.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hd.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ssd.Produto.Nome)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </br>
    </br>
    <h4>OS Aprovadas:</h4>
    <table style="margin-top:10px;margin-bottom:10px" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Numero OS
                </th>
                <th>
                    Solicitante
                </th>
                <th>
                    Avaliador
                </th>
                <th>
                    Processador
                </th>
                <th>
                    Memoria
                </th>
                <th>
                    Placa mãe
                </th>
                <th>
                    Placa de video
                </th>
                <th>
                    HD
                </th>
                <th>
                    SSD
                </th>
                <th>
                    Data de inicio
                </th>
                <th>
                    Data de termino
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in liberadas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrdemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Processador.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Memoria.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlacaMae.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlacaVideo.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hd.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ssd.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InicioProducao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TerminoProducao)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <table>
        </br>
        </br>
        <h4>OS Negada:</h4>
        <table style="margin-top:10px;margin-bottom:10px" class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Numero OS
                    </th>
                    <th>
                        Solicitante
                    </th>
                    <th>
                        Avaliador
                    </th>
                    <th>
                        Processador
                    </th>
                    <th>
                        Memoria
                    </th>
                    <th>
                        Placa mãe
                    </th>
                    <th>
                        Placa de video
                    </th>
                    <th>
                        HD
                    </th>
                    <th>
                        SSD
                    </th>
                    <th>
                        Data de impedimento
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in reprovadas)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrdemId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Processador.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Memoria.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlacaMae.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlacaVideo.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hd.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ssd.Produto.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rejeicao)
                        </td>

                    </tr>
                }
            </tbody>
        </table>


</body>
</html>
